<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.food_vision">

    <application
        android:allowBackup="true"
        android:icon="@drawable/thumbnail"
        android:label="@string/app_name"
        android:roundIcon="@drawable/thumbnail"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food_Vision">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".AccountPage"></activity>
        <activity android:name=".AdminDashboard"></activity>
        <activity android:name=".AdminLogin"></activity>
        <activity android:name=".Dashboard"></activity>
        <activity android:name=".InformationPage"></activity>
        <activity android:name=".NewDataPage"></activity>
        <activity android:name=".NoDataPage"></activity>
        <activity android:name=".NutritionalInquiry"></activity>
        <activity android:name=".FeedbackPage"></activity>
    </application>

</manifest>