<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/thumbnil"
        android:label="@string/app_name"
        android:roundIcon="@drawable/thumbnil"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food_Vision">
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Register" />
        <activity android:name=".activities.AccountPage" />
        <activity android:name=".activities.AdminDashboard" />
        <activity android:name=".activities.AdminLogin" />
        <activity android:name=".activities.Dashboard" />
        <activity android:name=".activities.InformationPage" />
        <activity android:name=".activities.NewDataPage" />
        <activity android:name=".activities.NoDataPage" />
        <activity android:name=".activities.NutritionalInquiry" />
        <activity android:name=".activities.FeedbackPage" />
        <activity android:name=".activities.DataPrivacyPage" />
        <activity android:name=".activities.FoodDatabaseView" />
        <activity android:name=".activities.VerificationCard" />
    </application>

</manifest>